body {
  font-family: helvetica, sans-serif;
#  background-color: #a7efff;
  color: #333;
}

textarea, input { border: 1px solid gray; }

hr { border: 0px; border-bottom: 1px solid #999999; height: 0px; }

a { text-decoration: none; }

img { border: 0px }

div#container {
  width: 550pt;
  margin-top: 12pt;
  margin: 0 auto;
}

div#content {
  background-color : #fff;
  padding: 1pc;
}

h1 { color: #999999; font-size: 14pt; }
h2 { color: #444; font-size: 14pt; font-weight: bold; margin: 10pt 0pt 0pt 0pt; }
h2 .lighter { font-weight: normal; }
h3 { color: #aaa; font-size: 12pt; font-weight: bold; margin: 0pt; }
h4 { margin: 10pt 0pt 0pt 0pt; font-weight: normal; }

td { vertical-align: top; }

.question { margin: 1pc 1pc 1pc 2pc; }

.questionbox {
  padding: 0pt; margin: 0pt; 
  width: 280pt; height:20pt; 
  border: 1px solid gray
}

div.header { border-bottom: 1px solid gray; }

img.header-logo {
  width: 150px;
}

ul.topnav { float: right; }
ul.topnav li {
  display: inline;
  font-size: 11pt; 
  padding-right: 1pc;
  color: #444;
}

ul.helpstart-topic-list { 
  list-style-type: none;
  padding: 0pt;
}

ul.helpstart-topic-list li {
  margin: 3pt;
  padding: 2pt;
  font-size: 11pt;
  font-weight: bold;
  border-bottom: 1px solid #999999;
}

div#what-satisfaction {
  padding: 1pc;
}

div#what-satisfaction h4 {
  font-weight: bold;
  font-size: 11pt;
  margin: 0pt;
}

div#what-satisfaction h5 {
  color: #555;
  font-size: 11pt;
  margin: 10pt 0pt 0pt 0pt;
}

div#what-satisfaction p {
  color: #555;
  font-size: 10pt;
  margin: 0pt;
}

.byline { float: right; }

.right { text-align: right }

.float-right { float: right; }
.float-left { float: left; }

.left-hed { float: left; margin: 3pt 3pt 0pt 0pt; }

.pin-right {
  position: absolute;
  right: 0pt;
}

#topic-summary {
  width: 160pt;
  font-size: 14pt;
  color: #666666;
}

p { font-size: 12px; }

.blue {
  background-color: #a7efff;
}

.sidepane {
  float: right;
  width: 160pt;
}

.sidepane h2 { color: #777; margin: 4pt 0pt 4pt 0pt; font-size: 14pt; }
.sidepane h3 { color: #aaa; margin: 4pt 0pt 4pt 0pt; font-size: 14pt; }

.sidebar { 
  background-color: #eee;
  padding: 6pt; margin: 6pt;
}

td.form-label { text-align: right; }

input.admin, textarea.admin { width: 160pt; }

#contact-form input, #contact-form textarea { width: 260pt; }

.helpstart-topic-list { margin-right: 6pt; width: 330pt; }

.gutter { margin: 6pt; }

.topic-head {
  background-color: #bbb;
  padding: 4pt 8pt 4pt 8pt;
}

.topic-head h3 strong {
  color: #000;
}

ul.topic-replies, ul.topic-list {
  margin: 3pt 0pt;
  padding: 0pt;
  list-style-type: none;
}

.topic-replies li, ul.topic-list li, .topic-replies tr {
  padding: 3pt 0pt;
  border-bottom: 1px solid #ccc;
}

#.topic-replies .subordinate {
#  margin-left: 32pt;
#}

.topic-replies .subordinate .reply-core {
  padding: 3pt;
  background-color: #ccc;
}

.topic-list h3, .topic-head h3 {
  font-size: 12pt;
  margin: 0pt;
  color: #888;
}

.topic-byline {
  font-weight: bold;
}

.topic-author-caption {
  font-size: 10pt;
}

.topic-author-pic {
  width: 48pt;
  height: 48pt;
}

.wiggle { margin: 3pt; }

.reply-author-pic {
  position:absolute;
  right: 0pt;
}

.toplevel .reply-author-pic {
  width: 48pt;
  height: 48pt;
}

.small-author-pic, .subordinate .reply-author-pic {
  width: 24pt;
  height: 24pt;
}

.tiny-author-pic {
  width: 16pt;
  height: 16pt;
}

.topic-pic-column {
  width: 48pt;
  margin: 3pt;
}

.topic-replies {
  list-style-type: none;
  table-layout: fixed;
}

ul.product-list li {
  display: inline;
  font-size: 11pt; 
  padding-right: 1pc;
  color: #444;
}

.huge { font-size: 24pt; }

#contactus h3 { font-size: 14pt; font-weight: normal; margin: 6pt 0pt 0pt 0pt; }

.topic-list tr { margin: 8pt; }

.error-box {
  color: #c03030; 
  border: 1px solid red;
  padding: 6px;
  margin: 3pt;
}

.error-message {
  color: #c03030;
}

.small-note { font-size: 8pt; color: #777; }

.small { font-size: 10pt; color: #444; }

ul.straight { list-style-type: none; padding-left: 0pt; }

.emotitag_face { vertical-align: middle; }

.star_button { border: 1px solid black; padding: 3px;  }
.flag_button { padding: 3px; }

.tag-box { width: 200pt; }