/*
  Name: Sprinkles Default Layout
  Authors: Ted Grubb and Thor Muller
  Get Satisfaction
  http://getsatisfaction.com
*/
/*@import url('/themes/default/sprinkles_envy.css');*/
@import url('/themes/default/sprinkles_default.css');

/* 
  
  Page Styles

*/

/* ----  Topic lists  (question.t, idea.t, problem.t, talk.t, mixed-topic-list.t) ----  */
#topic-list-head {float: left;padding-bottom:10px;}
#topic-list-head p {margin:0;}
#topic-list-head h2 {font-size: 1.7em; letter-spacing: -1px;}
#topic-list-head h2 span {color: gray;}
#topic-product {height: 40px;}
#topic-style {float:left;margin-right: 12px;}
.topic-list {clear:left;}
.topic {margin-top:5px;padding:10px 10px 15px 0;border-bottom:1px solid #EFEFEF; color:#333;}
.topic-icon {float:left;width:28px;height:22px;margin-right:6px;padding-top:3px;}
.topic-list-content {padding-right:100px;}
.topic-list-content h3 {text-transform:none;}
.topic-tags {color:gray;font-size:0.9em;}
.mixed .topic-list-content {padding-left:40px;}
.topic-content-body {margin-top:4px;}
.topic-meta {margin-top:7px;color:#666}
.topic-meta img {float:none;margin:0 5px 0 0;vertical-align: middle;width:16px;padding:0}
.topic-numbers {display:block;width:72px;float:right;}
.topic-numbers .replies {display:block;padding-top:5px;text-align:center;width:72px;}
.topic-numbers .replies strong {display:block;font-size:2.2em;letter-spacing:-1px;line-height:0.9em;}
.topic-numbers .replies span {color:#333333;display:block;font-size:90%;line-height:1em;margin-bottom:4px;}
.answer-button {text-transform:uppercase;border-bottom:1px solid #ccc;margin-bottom:10px;font-weight:bold;background-color:#ffffcc;padding:2px;border:1px solid #ccc;margin-right:10px;clear:both;text-align:center;font-size:10px}
/*.topic-numbers .followers {background:transparent url(http://getsatisfaction.com/images/follow_box.png) no-repeat scroll 0% 0%;display:block;height:27px;padding-top:3px;text-align:center;width:72px;}
.topic-numbers .followers strong {color:#DB0303;display:block;font-size:1.1em;letter-spacing:-1px;line-height:0.8em;}
.topic-numbers .followers span {color:#333333;font-size:90%;line-height:1em;}*/
a.show-toggle {white-space:nowrap; color: gray; font-size: 0.7em;font-weight:normal;text-decoration:underline;}
.pager {margin-top:20px;}
.pager a{padding:2px 3px;float:left;display:block;font-size:0.9em;border:1px solid; margin:0 2px 2px;}
.pager a.on { border: none; color:#333;}


/* ----  Contact Us  (contactus.t) ----  */
#suggestions li{margin:0 0 1em 0;}


/* ----  Start a Topic  (submit.t) ----  */
ul#topic_product_list li { width: 30%; padding: 0 5px 5px; float: left;}
ul#topic_product_list li input {margin-right: 3px;}
ul#topic_product_list li label {color: #444;}
#topic_subject {font-size:1.3em; padding: 4px 0;}
#emoticon_picker img {cursor:pointer;}
#live_results li {margin-bottom: 0.5em;}


/* ----  Topic thread  (topic.t) ----  */
#topic-head .creator{float:left;width:100px;margin-right:30px;}
#topic-head h1{font-size:1.8em;padding-bottom:0.5em;line-height:1;}
#topic-head #topic-bubble{float:left;width:553px;padding:15px 20px;margin-bottom:2em;background-color:#EEE;}
#topic-head.question #topic-bubble{background-color:#E2F4F8;}
#topic-head.idea #topic-bubble{background-color:#FDF1CE;}
#topic-head.problem #topic-bubble{background-color:#F6C0C0;}
#topic-head.talk #topic-bubble{background-color:#DFEFCE;}
#topic-head .best-of{padding-top:2em;clear:both;}
#topic-head .best-of h2{font-size:1.4em;margin-bottom:0.5em;}
#topic-head .best-of .box{margin-top:1.5em;}
#topic-head .best-of .tight{margin-bottom:0.5em;}
#topic-head #topic-replies{margin-left:130px;clear:both;}
#topic-head #topic-replies .topic-reply{margin-bottom:3em;}
#topic-head #topic-replies .reply-content{float:left;width:460px;}
#topic-head #topic-replies .reply-content .reply-text{line-height:1.2;padding-bottom:1em;}
#topic-head #topic-replies .reply-content .reply-emotion{padding-bottom:1em;}
#topic-head #topic-replies .topic-byline{font-size:0.9em;color:#888;}
#topic-head #topic-replies .topic-byline a{font-weight:bold;}
#topic-head #topic-replies .topic-comment {color:#888;margin-left:130px;margin-bottom:3em;margin-top:-1.5em}
ul.topic-stats {margin:0!important;}
ul.topic-stats li {font-size:1.2em;list-style-type:none!important;}
.emotitag_face{width:25px;height:25px;vertical-align:middle;}
.small-author-pic{width:32px;height:32px;}


/* ----  Share topic  (share-topic.t) ----  */
#share-preview{background:#FFF;padding:10px;border:1px solid #DDD;margin-bottom:10px;}
#share-preview p { padding-bottom:1em;}

#search {list-style-type:none;margin:12px 0 0 -12px;}
#search form .text-input{width:110px;}
